<ul class="list-group">

    <li class="list-group-item list-group-item-info">
    <!--TODO: Unresolved type on the searchBed, and value **Unsure why this is happening-->
        <input #input type="text" placeholder="Choose a Bed" (input)="location = $event.target.value">
        <button (click)="onChange()">View Bed</button>
    </li>


    <li class="list-group-item list group item-info">Plants in Bed {{ location }}</li>
    <li *ngFor="let plant of plants" class="list-group-item">
        {{ plant.plantID }}<br>
        {{ plant.commonName }}<br>
        {{ plant.cultivar }}<br>
        <button (click)="setNewId(getID(plant))">Change Target</button><br>
        <a [routerLink]="['/plant']"><span class="glyphicon glyphicon-circle-arrow-right">Go to Plant!!</span></a>
    </li>
<!-- We should have ratings on a specific Bed page
rather than on a page that is a list of beds.
They don't/won't have bed inforsmation on this page
so it wouldn't really make sense to vote here.
The bed list is not something that will/should be used often
so we shouldn't prioritize it as much as flower and bed pages.

The ratings should be next to where the comments are
-->
    <h4>Bed Arrangement 1S</h4>
    Rate Me!<br>
    <!--<button type="submit">Pretty!</button>-->
    <!--<span class="glyphicon glyphicon-thumbs-up"></span>-->
    <!--<button type="submit">Ugly!</button>-->
    <!--<span class="glyphicon glyphicon-thumbs-down"></span>-->


<!--TODO: Add a upvoted/downvoted method for when they click on this button-->
    <div class = "buttonResponse">
    <button class="responseButton"> <!--(click)="upvoted($event)"-->
        <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button class="responseButton"> <!--(click)="downvoted($event)"-->
        <span class="glyphicon glyphicon-thumbs-down"></span>
    </button>
    </div>
</ul>