<div *ngIf="plant" class="plant">
    <ul>
        <li>Name: {{ plant.commonName }}</li>
        <li>Brand Name: {{ plant.cultivar }}</li>
        <li>Location: {{ plant.gardenLocation }}</li>

        {{ plant.commonName }} is {{ plant.cultivar }}.
        <br>
        Likes: {{ plant.plus }}
        <button class="responseButton" onclick="addPlusVote"> <plant
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>

        <br>

        Dislikes: {{ plant.minus }}
    </ul>
</div>
